
				#job_history {
				font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
				width: 100%;
				border-collapse: collapse;
				border: 1px solid #6666FF;
				box-shadow: 5px 5px 3px #888888;
				}
				#job_history td, #job_history th {
				font-size: 1em;
				padding: 3px 7px 2px 7px;
				}
				#job_history th {
				font-size: 1.1em;
				text-align: left;
				padding-top: 5px;
				padding-bottom: 4px;
				background-color: #ffffff;
				color: #000000;
				}
				#job_history tr.alt td {
				color: #000000;
				background-color: #C0C0C0;
				}
